# 0.0 Imports and Load Data

## 0.1 Imports

In [5]:
import sys
import os
import pandas as pd
from sklearn.model_selection import train_test_split

# 0.2 Load and split data

In [24]:
df_raw = pd.read_csv("../data/raw/Telco_Customer_Churn.csv")
df_raw.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

# 0.3 Split data

In [ ]:
X = df_raw.drop(columns='Churn')  # Features
y = df_raw['Churn']               # Target

# Divisão em treino e teste (80% / 20%)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

df1 = pd.concat([X_train, y_train], axis=1)

# 1.0 Data Exploration

In [25]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5634 entries, 3738 to 5639
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        5634 non-null   object
 1   gender            5634 non-null   object
 2   SeniorCitizen     5634 non-null   int64
 3   Partner           5634 non-null   object
 4   Dependents        5634 non-null   object
 5   tenure            5634 non-null   int64
 6   PhoneService      5634 non-null   object
 7   MultipleLines     5634 non-null   object
 8   InternetService   5634 non-null   object
 9   OnlineSecurity    5634 non-null   object
 10  OnlineBackup      5634 non-null   object
 11  DeviceProtection  5634 non-null   object
 12  TechSupport       5634 non-null   object
 13  StreamingTV       5634 non-null   object
 14  StreamingMovies   5634 non-null   object
 15  Contract          5634 non-null   object
 16  PaperlessBilling  5634 non-null   object
 17  PaymentMethod     5634 non-null   object
 18  MonthlyCharges    5634 non-null   float64
 19  TotalCharges      5634 non-null   object
 20  Churn             5634 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 968.3+ KB